.header {
  background-color: rgb(240, 240, 240);
  height: 100px;
}

.nav-container {
  display: flex;
  align-items: center;

  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-left: 20px;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  font-family: 'Lato', sans-serif;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #333391;
  letter-spacing: 2px;
}

.logo {
  width: 100px;
  height: 100px;
}