<div class="header">
  <div class="nav-container">
    <div class="logo">
      <img src="assets/logo.svg" alt="logo">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a [routerLink]="['/']" routerLinkActive="active-link">placeholder</a></li>
        <li><a [routerLink]="['/']" routerLinkActive="active-link">placeholder</a></li>
        <li><a [routerLink]="['/']" routerLinkActive="active-link">placeholder</a></li>
        <li><a [routerLink]="['/']" routerLinkActive="active-link">placeholder</a></li>
      </ul>
    </nav>
    <div class="secondary-nav">
      <button class="btn-login" type="button">Log in</button>    
    </div>
  </div>
</div>