.nav-container {
  border-bottom: 1px solid black;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  list-style: none;
  flex: 90;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  flex: 10;
}